$groove: url('patterns/groovepaper.png'); 
$fabric: url('patterns/classy_fabric.png'); 
$cloth: url('patterns/cloth_alike.png'); 
$knitting: url('patterns/knitting250px.png'); 
$arches: url('patterns/arches.png'); 
$blizzard: url('patterns/blizzard.png'); 
$diamond: url('patterns/daimond_eyes.png'); 
$mesh: url('patterns/lghtmesh.png'); 
$paper: url('patterns/paper.jpg');

@font-face {
  font-family: 'fontAwesome';
  src:url('fontawesome-webfont.eot');
  src:url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('fontawesome-webfont.svg#fontawesome-webfont') format('svg'),
    url('fontawesome-webfont.woff') format('woff'),
    url('fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body{
  height: 100%;
  margin: 0 0;
}

#map{
  height: 100%;
  width: 100%;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;

}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#geodex{
  position:fixed;
  top:5%;
  right:2%;
  width: 400px;
  height: 90%;
  background-color: white;
  margin-right:24px;
  border-radius: 24px;
  footer {
    background-image: $paper;
  }
}

#geodexHeader{
  height: 15%;
  width: 100%;
  background-color: grey;
  background-image: $paper;
  /*border-radius-top: 4px; */

}

#geodexHeader h1{
  margin-top: 0px;

}



/*deodexHeader*/

#contentContainer {
  width: 100%;
  height: 65%;
  overflow: auto;
}


#actionBar {
  width: 100%;
  height: 20%;
  border-top: 2px solid black;
}



#addData {
  position: absolute;
  top: 0px;
  right: 0px;
}

#social-nav li {
  display: inline;
  margin-right: 20%;
  font-size: 2em;


}

#social-nav ul {
}



.hidden {
  display: none;
}


