<div id="map"></div>
  <div id="geodex">
    <header id="geodexHeader">
      <h1>Cycling Routes</h1>
      
      <div id="addData">
        <button  value="addData">
          <a href="#"><i class="icon-fixed-width icon-plus"></i></a> 
        </button>
      </div>
      Search: <input ng-model="query">
    </header>
    <div id="contentContainer" ng-controller="AccordionDemoCtrl">
  	<ul class="auth-list">
  	    <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook), :class => 'button auth-facebook' %></li>
  	    <li><%= link_to "Google", user_omniauth_authorize_path(:google_oauth2), :class => 'button auth-google' %></li>
  	    <li><%= link_to "Github", user_omniauth_authorize_path(:github), :class => 'button auth-github' %></li>
    </ul>
      <accordion close-others="oneAtATime">
        <accordion-group heading="{{group.title}}" ng-repeat="group in groups | filter:query" ng-click="onContentHeaderClick()">
        {{group.content}}
      </accordion-group>
    </accordion>
  </div>
  <footer id="actionBar">
    <h4>ACTIONBAR</h4>
    <div id="social-nav" class="">
      <ul>
        <li><a href="#"><i class="icon-fixed-width icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-fixed-width icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-fixed-width icon-google-plus"></i></a></li>
      </ul>
    </div>
   <!-- <button class="btn" ng-click="goToFB()">Facebook</button>
   <button class="btn" ng-click="goToTwit()">Twitter</button>
   <button class="btn" ng-click="goToGooglePlus()">G +</button> -->
 </footer>
</div>